china-prosop.code-workspace
.DS_Store
*.old
*.ids

sources/referidos_pai.txt
*.pyc
*.html
*.dot
.venv/
sources/.kleio/logs/kleio_service.log
database/sqlite/dehergne_locations.sqlite
database/sqlite/dehergne_locations.sqlite
database/sqlite/timelink.sqlite
.kleio/logs/kleio_service.log
structures/sources.srpt
.kleio.json
versions.txt
notebooks/apicache/*

notebooks/throttle.ctrl
.vscode/settings.json
notebooks/timelink.sqlite
inferences/jesuitas-entrada-desc-Portugal.txt
inferences/Coimbra
inferences/word
