china-prosop.code-workspace
.DS_Store
*.old
*.ids

sources/referidos_pai.txt
notebooks/pyvenv.cfg
notebooks/bin
notebooks/lib
notebooks/share
notebooks/include
notebooks/*.dot
notebooks/*.html
notebooks/__pycache__/
.vscode/settings.json
