{% include "markdown/base/entity_frontmatter.j2" -%}
{% set bio = build_biography(model,
            follow_identification=follow_identification|default(False),
            db=db|default(None)) -%}
## [[{{model.get_description()}}]]
- id: {{model.id}}
- inside: [[{{model.inside}}]]
{% if model.obs -%}
> {{model.obs}}
{% endif -%}
{% include "markdown/base/entity_bio_note.j2" -%}
{% include "markdown/base/entity_links_narrative.j2" -%}
{% include "markdown/base/entity_timeline_narrative.j2" -%}
{% include "markdown/base/entity_contains_narrative.j2" -%}
